* {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(9, 9, 36);
  color: white;
}

.nav {
  width: 100%;
}

.about-title {
  text-align: center;
  font-size: 110px;
  padding-top: 250px;
}

.about {
  text-align: center;
  padding-bottom: 300px;
  font-size: large;
}

#projects {
  text-align: center;
}

#skills {
  padding: 50px;
  padding-top: 120px;
  padding-bottom: 70px;
}

#skillsList {

  text-align: left;
  font-size: x-large;
  display: flex
  -webkit-columns: 40px 2;
            /* Chrome, Safari, Opera */
            -moz-columns: 60px 2;
            /* Firefox */
            columns: 60px 2;
}

#contact {
  padding-top: 150px;
}

.icons {
  height: 120px;
  width: 120px;
}

.logos {
  text-align: center;
}

.row {
  padding-top: 20px;
  display: flex;
}

.btn {
  float: right;
}

.bottom {
  padding-top: 350px;
}
