* {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(9, 9, 36);
  color: white;
}

.nav {
  width: 100%;
}

.about-title {
  text-align: center;
  font-size: 120px;
  padding-top: 250px;
}

.about {
  text-align: center;
  padding-bottom: 200px;
  font-size: large;
}

#projects {
  text-align: center;
}

.icons {
  height: 120px;
  width: 120px;
}

.logos {
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  float: right;
}

.bottom {
  padding-top: 350px;
}
